.App {
  text-align: center;
}


body{
  background-image: linear-gradient(to top,rgb(196, 27, 61),rgb(198, 21, 127),rgb(44, 44, 243));
  background-size: cover;
  background-repeat: no-repeat;
}
button{
  height: 5vh;
  width: 9vh;
  /* background-color: darksalmon;
  background-color: darksalmon;
  background-color: darksalmon; */
  background-image: linear-gradient(to left,rgba(170, 84, 56,0),rgba(170, 84, 56,1));
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  
}